.container {
    /* border: 2px solid green; */
    /* height: 400px; */
    /* width: 400px; */
    text-align: justify;
    /* to hide the overflow  */
    /* overflow: hidden; */
    /* to get a scroller bar  */
    /* overflow: scroll; */
    /* overflow: auto; */
    
}

img {
    margin: 5px;
}

.subContainer {
    /* Not a dynamic or not-recomended */
    /* height: 40vh; */
    /* overflow: auto; */
}

.subContainer2{
    /* height: 200px; */
    overflow: auto;
}

.img1 {
    float: both;
}

.img2 {
    float: both;
}

.subContainer > p {
    /* clear: right; */
}

.subContainer2 > p {
    /* clear: left;  */
}
